html, body, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.wrap {
    margin: 0 100px;
}
.wrap .content {
    padding: 0 50px;
}

.footer {
    margin-top: 100px;
}
.footer a {
    border: 1px solid black;
    padding: 5px 8px;
}