
/* 1번 */
.box .n1_1 {
    top: 130px;
    left: 298px;
}
/* 2번 */
.box .n2_1 {
    top: 415px;
    left: 257px;
} 
/* 3번 */
.box .n3_1 {
    top: 190px;
    left: 130px;
}
.box .n3_2 {
    top: 610px;
    left: 295px;
}
/* 4번 */
.box .n4_1 {
    top: 210px;
    left: 160px;
}
.box .n4_2 {
    top: 310px;
    left: 160px;
}
/* 5번 */
.box .n5_1 {
    top: 240px;
    left: 270px;
}
/* 6번 */
.box .n6_1 {
    top: 205px;
    left: 160px;
}
/* 7번 */
.box .n7_1 {
    top: 228px;
    left: 160px;
}
/* 8번 */
.box .n8_1 {
    top: 212px;
    left: 270px;
}
/* 9번 */
.box .n9_1 {
    top: 296px;
    left: 215px;
}
/* 10번 */
.box .n10_1 {
    top: 235px;
    left: 270px;
}
/* 11번 */
.box .n11_1 {
    top: 250px;
    left: 255px;
}