
/* 1번 */
.box .n1_1 {
    top: 130px;
    left: 298px;
}
/* 2번 */
.box .n2_1 {
    top: 360px;
    left: 245px;
} 
/* 3번 */
.box .n3_1 {
    top: 190px;
    left: 130px;
}
.box .n3_2 {
    top: 610px;
    left: 295px;
}
/* 4번 */
.box .n4_1 {
    top: 262px;
    left: 160px;
}
.box .n4_2 {
    top: 330px;
    left: 290px;
}
/* 5번 */
.box .n5_1 {
    top: 350px;
    left: 160px;
}
.box .n5_2 {
    top: 490px;
    left: 160px;
}
/* 6번 */
.box .n6_1 {
    top: 248px;
    left: 243px;
}
.box .n6_2 {
    top: 358px;
    left: 243px;
}
.box .n6_3 {
    top: 495px;
    left: 290px;
}
/* 7번 */
.box .n7_1 {
    top: 277px;
    left: 270px;
}
/* 8번 */
.box .n8_1 {
    top: 263px;
    left: 270px;
}
.box .n9_1 {
    top: 300px;
    left: 255px;
}