
/* 1번 */
.box .n1_1 {
    top: 260px;
    left: 180px;
}
.box .n1_2 {
    top: 628px;
    left: 250px;
}
.box .n1_3 {
    top: 222px;
    left: 190px;
}
.box .n1_4 {
    top: 130px;
    left: 248px;
}
.box .n1_5 {
    top: 260px;
    left: 180px;
}
.box .n1_6 {
    top: 550px;
    left: 190px;
}
/* 2번 */
.box .n2_1 {
    top: 380px;
    left: 140px;
} 
.box .n2_2 {
    top: 380px;
    left: 215px;
} 
.box .n2_3 {
    top: 380px;
    left: 300px;
} 
.box .n2_4 {
    top: 420px;
    left: 125px;
} 
.box .n2_5 {
    top: 130px;
    left: 312px;
} 
/* 3번 */
.box .n3_1 {
    top: 285px;
    left: 260px;
}
.box .n3_2 {
    top: 340px;
    left: 220px;
}
.box .n3_3 {
    top: 400px;
    left: 180px;
}
/* 4번 */
.box .n4_1 {
    top: 280px;
    left: 205px;
}
.box .n4_2 {
    top: 325px;
    left: 205px;
}
.box .n4_3 {
    top: 375px;
    left: 240px;
}
.box .n4_4 {
    top: 420px;
    left: 205px;
}
.box .n4_5 {
    top: 470px;
    left: 170px;
}