
/* 1번 */
.box .n1_1 {
    top: 385px;
    left: 180px;
}
/* 2번 */
.box .n2_1 {
    top: 628px;
    left: 135px;
}
/* 3번 */
.box .n3_1 {
    top: 140px;
    left: 150px;
}
.box .n3_2 {
    top: 535px;
    left: 270px;
}
/* 4번 */
.box .n4_1 {
    top: 450px;
    left: 270px;
}
.box .n4_2 {
    top: 215px;
    left: 200px;
}